@font-face {
    font-family: 'ChosunGs';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}
.title {
    font-family: 'ChosunGs', 'Song Myung', '궁서', '궁서체', serif, '돋움', 'dotum';
    font-size: 11vh;
    margin-top: 5vh;
    text-decoration: none;
    color: black;
}
body {
    background: rgba(160, 160, 160, 1);
}
.line1 ul {
    position: absolute;
    top: 25vh;
    margin: auto;
    right: 0;
    left: 0;
    list-style-type: none;
    width: 47vh;
}
.line2 ul {
    position: absolute;
    top: 40vh;
    margin: auto;
    right: 0;
    left: 0;
    list-style-type: none;
    width: 47vh;
}
li {
    float: left;
    width: 14vh;
    height: 14vh;
    border-radius: 7vh;
    margin-left: 0vh;
    margin-right: 1.5vh;
    color: white;
    text-align: center;
    line-height: 14vh;
    font-size: 5vh;
}
.ball-placeholder {
    background: linear-gradient(135deg, rgba(84, 84, 84, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.next-ball,
.play-again {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    font-family: 'ChosunGs', 'Song Myung', '궁서', '궁서체', serif, '돋움', 'dotum';
    font-size: 4.5vh;
    top: 85vh;
    width: 28vh;
    height: 10vh;
}
.next-ball {
    color: black;
    background: rgba(220, 220, 220, 0.8);
}
.play-again {
    display: none;
    color: white;
    background: rgba(70, 70, 70, 1);
}
.lottery-ball1,
.lottery-ball2,
.lottery-ball3,
.lottery-ball4,
.lottery-ball5,
.lottery-ball6 {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
.lottery-ball1 {
    background: linear-gradient(135deg, rgba(255, 0, 0, 1) 0%, rgba(165, 0, 0, 1) 100%);
    animation-delay: 0s;
}
.lottery-ball2 {
    background: linear-gradient(135deg, rgba(255, 255, 0, 1) 0%, rgba(165, 165, 0, 1) 100%);
    animation-delay: 200ms;
}
.lottery-ball3 {
    background: linear-gradient(135deg, rgba(0, 255, 0, 1) 0%, rgba(0, 165, 0, 1) 100%);
    animation-delay: 400ms;
}
.lottery-ball4 {
    background: linear-gradient(135deg, rgba(0, 255, 255, 1) 0%, rgba(0, 165, 165, 1) 100%);
    animation-delay: 600ms;
}
.lottery-ball5 {
    background: linear-gradient(135deg, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 165, 1) 100%);
    animation-delay: 800ms;
}
.lottery-ball6 {
    background: linear-gradient(135deg, rgba(255, 0, 255, 1) 0%, rgba(165, 0, 165, 1) 100%);
    animation-delay: 1000ms;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}